<nav class="flex justify-between items-center p-6 bg-gray-800">
    <a href="/" class="text-xl font-bold" id="home-link">Climate Solutions</a>
    <div>
        <a href="/solutions/projects" class="<%= (page == "/solutions/projects") ? 'active' : ' ' %> px-4">View Projects</a>
        <a href="/about" class="<%= (page == "/about") ? 'active' : '' %> px-4">About</a>
    </div>
</nav>